<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2022 ReCodem Pvt Ltd All rights reserved
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Codem_Shoplist::submenu"
             title="Shoplist" translate="title" module="Codem_Shoplist"
             parent="Magento_Backend::stores_settings" sortOrder="80"
             action="shoplist/index/index"
             resource="Codem_Shoplist::submenu"/>
    </menu>
</config>
